- extends "Edge5FrontendBundle::layout.html.twig"

- block content

     .plx-wrapper
          .plx-headline
               %h1 Parallax Animations Example
          .plx-spacer
          .animatable.plx-container-1(data={'anim-class': "anim-1"})
               .monitor
               .mouse
               .keyboard
          .plx-spacer
          .animatable.plx-container-2(data={'anim-class': "anim-2"})
               .drop.drop-1
               .drop.drop-2
               .drop.drop-3
               .drop.drop-4
               .drop.drop-5
               .drop.drop-6
               .umbrella
          .plx-spacer
          .animatable.plx-container-3(data={'anim-class': "anim-3"})
               .santa
               .rudolph
               .rudolph-2
               .cookie
               .sad-cookie
               .tree
          .plx-spacer
          .animatable.plx-container-4(data={'anim-class': "anim-4"})
               .rocket.rocket-1
               .rocket.rocket-2
               .rocket.rocket-3
               .star
          .plx-spacer
