/* ========== WebKit Animations ========== */

@-webkit-keyframes h2-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes h3-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes form-animation {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}
@-webkit-keyframes boat-in-animation {
	0%   {left: -200px;}
	100% {left: 20px;}
}
@-webkit-keyframes boat-animation {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}
@-webkit-keyframes question-mark-animation {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes cloud-group-1-animation {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}
@-webkit-keyframes cloud-group-2-animation {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}
@-webkit-keyframes water-back-animation {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}
@-webkit-keyframes water-front-animation {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}






/* ========== FireFox Animations ========== */

@-moz-keyframes h2-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes h3-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes form-animation {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}
@-moz-keyframes boat-in-animation {
	0%   {left: -200px;}
	100% {left: 20px;}
}
@-moz-keyframes boat-animation {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}
@-moz-keyframes question-mark-animation {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes cloud-group-1-animation {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}
@-moz-keyframes cloud-group-2-animation {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}
@-moz-keyframes water-back-animation {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}
@-moz-keyframes water-front-animation {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}






/* ========== Opera Animations ========== */

@-o-keyframes h2-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes h3-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes form-animation {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}
@-o-keyframes boat-in-animation {
	0%   {left: -200px;}
	100% {left: 20px;}
}
@-o-keyframes boat-animation {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}
@-o-keyframes question-mark-animation {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}
@-o-keyframes cloud-group-1-animation {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}
@-o-keyframes cloud-group-2-animation {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}
@-o-keyframes water-back-animation {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}
@-o-keyframes water-front-animation {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}






/* ========== IE Animations ========== */

@-ms-keyframes h2-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes h3-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes form-animation {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}
@-ms-keyframes boat-in-animation {
	0%   {left: -200px;}
	100% {left: 20px;}
}
@-ms-keyframes boat-animation {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}
@-ms-keyframes question-mark-animation {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}
@-ms-keyframes cloud-group-1-animation {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}
@-ms-keyframes cloud-group-2-animation {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}
@-ms-keyframes water-back-animation {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}
@-ms-keyframes water-front-animation {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}






/* ========== Animations ========== */

@keyframes h2-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes h3-animation {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes form-animation {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}
@keyframes boat-in-animation {
	0%   {left: -200px;}
	100% {left: 20px;}
}
@keyframes boat-animation {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}
@keyframes question-mark-animation {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}
@keyframes cloud-group-1-animation {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}
@keyframes cloud-group-2-animation {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}
@keyframes water-back-animation {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}
@keyframes water-front-animation {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}