
/* ========== Keyframes as Mixins ========== */

@include keyframes(h2-animation) {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}

@include keyframes(h3-animation) {
	0%   {opacity: 0;}
	80%  {opacity: 0;}
	100% {opacity: 1;}
}

@include keyframes(form-animation) {
	0%   {opacity: 0; right: -400px;}
	90%  {opacity: 0; right: -400px;}
	95%  {opacity: 0.5; right: 20px;}
	100% {opacity: 1; right: 0px;}
}

@include keyframes(boat-in-animation) {
	0%   {left: -200px;}
	100% {left: 20px;}
}

@include keyframes(boat-animation) {
	0%   {bottom: 0px; left: 0px;}
	25%  {bottom: -2px; left: -2px;}
	70%  {bottom: 2px; left: -4px;}
	100% {bottom: -1px; left: 0px;}
}

@include keyframes(question-mark-animation) {
	0%   {opacity:0;}
	80%   {opacity:0;}
	100% {opacity:1;}
}

@include keyframes(cloud-group-1-animation) {
	0%       {left: 0px;}
	99.9999%   {left: -720px;}
	100%     {left: 0px;}
}

@include keyframes(cloud-group-2-animation) {
	0%       {left: 720px;}
	99.9999%   {left: 0px;}
	100%     {left: 720px;}
}

@include keyframes(water-back-animation) {
	0%   {bottom: 10px; left: -20px;}
	25%  {bottom: 8px; left: -22px;}
	70%  {bottom: 12px; left: -24px;}
	100% {bottom: 9px; left: -20px;}
}

@include keyframes(water-front-animation) {
	0%   {bottom: -70px; left: -30px;}
	25%  {bottom: -68px; left: -32px;}
	70%  {bottom: -72px; left: -34px;}
	100% {bottom: -69px; left: -30px;}
}

/* ================================================================== */

@include keyframes(logo-animation) {
	0%       {top: - $e5-logo-height;}
	100%     {top: 0;}
}

@include keyframes(mountain-1-animation) {
	0%       {left: 0px;}
	99.9999%   {left: -90%;}
	100%     {left: 0px;}
}

@include keyframes(mountain-2-animation) {
	0%       {left: 90%;}
	99.9999%   {left: 0px;}
	100%     {left: 90%;}
}

@include keyframes(button-1-animation) {
	0%       {left: 100%;}
	80%       {left: 100%;}
	100%     {left: 0%;}
}

@include keyframes(button-2-animation) {
	0%       {left: -100%;}
	80%       {left: -100%;}
	100%     {left: 0%;}
}

@include keyframes(button-1-rotation) {
	from {
		@include transform(rotate(0deg));
	} to {
		  @include transform(rotate(-360deg));
	  }
}

@include keyframes(button-2-rotation) {
	from {
		@include transform(rotate(0deg));
	} to {
		  @include transform(rotate(360deg));
	  }
}

@include keyframes(person-animation) {
	0%       {left: 100%;}
	50%      {left: 100%;}
	100%     {left: 0%;}
}

@include keyframes(child-animation) {
	0%       {left: 100%;}
	50%      {left: 100%;}
	60%      {margin-top: 10px;}
	65%      {margin-top: -10px;}
	70%      {margin-top: 10px;}
	75%      {margin-top: -10px;}
	80%      {margin-top: 10px;}
	85%      {margin-top: -10px;}
	90%      {margin-top: 10px;}
	95%      {margin-top: -10px;}
	100%     {left: 0%;}
}

@include keyframes(input-from-left-animation) {
	0%       {left: -120%;}
	80%      {left: -120%;}
	100%     {left: 0%;}
}

@include keyframes(input-from-right-animation) {
	0%       {left: 120%;}
	80%      {left: 120%;}
	100%     {left: 0%;}
}



























