
$li-bg-color: white;
$li-bg-color-hover: black;

$li-h2-color: black;
$li-h2-color-hover: #fff004;

$li-h3-color: black;
$li-h3-color-hover: white;

$li-border-color: black;
$li-border-color-hover: #fff004;

$li-icon-color: black;
$li-icon-color-hover: #fff004;

$banner-h2-color: #137dd5;