
$li-bg-color: white;
$li-bg-color-hover: black;

$li-h2-color: black;
$li-h2-color-hover: #fff004;

$li-h3-color: black;
$li-h3-color-hover: white;

$li-border-color: black;
$li-border-color-hover: #fff004;

$li-icon-color: black;
$li-icon-color-hover: #fff004;

$banner-h2-color: #137dd5;
$banner-h3-color: black;

$banner-input-text-border-color: #a2917d;
$banner-input-text-color: white;
$banner-input-submit-border-color: #bcc0c4;
$banner-input-submit-color: #137dd5;
$banner-input-submit-bg-color: white;

$e5-banner-color: white;
$e5-banner-bg-color: #203439;
$e5-banner-hightlight: #f4f300;