// EXTERNAL FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

// BASE PATH
$base-path: "../../../bundles/edge5frontend/";

// FONTS
$font-size: 14px;


// MENU

$ul-margin: 10px;

$li-width-mobile: 100%;
$li-width-desktop: 20%;

$li-height-mobile: 90px;
$li-height-desktop: 120px;

$li-border-width: 10px;

$li-padding: 20px;
$li-padding-desktop: 25px;
$li-margin: 5px;

$li-h2-padding: 10px;

$icon-font-size: $font-size * 1.5;


// BANNER

$banner-wrapper-margin: 10px;

$banner-width: 720px;
$banner-height: 520px;
$banner-height-desktop: 300px;

$banner-content-width: 325px;
$banner-content-margin: 20px;
$banner-content-h2-size: 45px;
$banner-h2-margin: 10px;
$banner-content-h3-size: 24px;

$banner-form-margin: 30px;
//$banner-input-height: 48px;
$banner-input-padding: 14px;
$banner-input-height: 48px;
$banner-input-font-size: 14px;
$banner-input-border-radius: 5px;
$banner-input-text-margin: 10px;


// e5 BANNER

$e5-banner-wrapper-margin: 10px;

$e5-banner-width: 600px;
$e5-banner-height: 520px;
$e5-banner-height-desktop: 300px;

$e5-logo-width: 70px;
$e5-logo-height: 40px;

$e5-banner-h2-font-size: 50px;