// EXTERNAL FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

// BASE PATH
$base-path: "/bundles/edge5frontend";

// FONTS
$font-size: 14px;


// MENU

$ul-margin: 10px;

$li-width-mobile: 20%;
$li-width-desktop: 100%;

$li-height: auto;

$li-border-width: 10px;

//$li-padding: 5%;
$li-padding: 20px;

$li-padding-desktop: 25px;

$li-margin: 5px;

$icon-font-size: $font-size * 1.5;

$li-h2-padding: 10px;