/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}




/* ==========================================================================
   Responsive utility classes
   ========================================================================== */
.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

.hidden-phone {
  display: none !important;
}

.hidden-tablet {
  display: none !important;
}

.hidden-desktop {
  display: inherit !important;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .visible-tablet, .visible-desktop {
    display: none !important;
  }

  .hidden-tablet, .hidden-desktop {
    display: inherit !important;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .visible-phone, .visible-desktop {
    display: none !important;
  }

  .hidden-phone, .hidden-desktop {
    display: inherit !important;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

  .visible-desktop {
    display: inherit !important;
  }

  .hidden-desktop {
    display: none !important;
  }

  .visible-phone, .visible-tablet {
    display: none !important;
  }

  .hidden-phone, .hidden-tablet {
    display: inherit !important;
  }
}

/* DESKTOPS AND LAPTOPS */
@media only screen and (min-width : 1224px) {

}

/* LARGE SCREENS */
@media only screen and (min-width: 1824px) {

}

/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}